<h1 class="h2">Manutenção de Tarifas</h1>
<form name="tarifa" *ngIf="tarifa">
    <div class="form-group col-md-2">
        <label for="">Id</label>
        <input type="text" name="tarifaId" class="form-control" placeholder="Id da Tarifa" [(ngModel)]="tarifa.id" readonly>
    </div>
    <div class="form-group col-md-10">
        <label for="">Nome</label>
        <input type="text" name="tarifaName" class="form-control" placeholder="Nome da Tarifa" [(ngModel)]="tarifa.nome" [disabled]="action == 'detail'">
    </div>
    <div class="form-group col-md-6">
        <label for="">Id Produto</label>
        <select class="form-control" [(ngModel)]="tarifa.produtoId" name="prod" required [disabled]="action == 'detail'">
            <option *ngFor='let produto of produtos' 
            [selected]="tarifa.produtoId == produto.id"
            [value]="produto.id">{{ produto.nome }}</option>
        </select>
    </div>
    <div class="form-group col-md-6">
        <label for="">Id Conta Contábil</label>
        <select class="form-control" [(ngModel)]="tarifa.contaContabilId" name="professional" required [disabled]="action == 'detail'">
            <option *ngFor='let conta of contasCont' 
            [selected]="tarifa.contaContabilId == conta.id"
            [value]="conta.id">{{ conta.contaContabil }}</option>
        </select>
    </div>
    <div class="col-md-12">
        <button class="btn btn-primary" (click)="onBack()">Voltar</button>
        <button class="btn btn-default" (click)="save()" *ngIf="action == 'insert'">Salvar</button>
    </div>
</form>