<h1 class="h2">Manutenção de Tarifas</h1>
<div class="page-content">
    <table class="table table-borded table-striped table-hover table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tarifa</th>
                <th>Produto</th>
                <th>Conta Contabil</th>
                <th>Detalhes</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tarifa of tarifas">
                <td>{{ tarifa.id }}</td>
                <td>{{ tarifa.nome }}</td> 
                <td>{{ tarifa.produtoDesc  }}</td>
                <td>{{ tarifa.contaDesc  }}</td>
                <td class="text-center" title="Detalhes">
                    <span class="glyphicon glyphicon-folder-open"  [routerLink]="['/tarifa', 'detail', tarifa.id]">&nbsp;</span>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" [routerLink]="['/tarifa', 'insert', 0]">Cadastrar Nova Tarifa</button>
</div>