<h1 *ngIf="mensal" class="h2">Movimentação Mensal</h1>
<div class="btn-toolbar mb-2 mb-md-0" *ngIf="mensal">

  <div class="form-group col-md-2">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-12 col-md-4 form-group">
          <input
          type="text"
          placeholder="Selecione o mês e ano para consulta"
          class="form-control"
          bsDatepicker 
          [bsConfig]="{dateInputFormat: 'MM/YYYY'}" 
          (onShown)="onOpenCalendar($event)">
        </div>
      </div>
    </div>
  </div>
</div>

<h1 *ngIf="cliente" class="h2">Movimentação Por Cliente</h1>
<div class="input-group" *ngIf="cliente">
  <input type="text" name="doc" class="form-control" placeholder="CPF ou CNPJ do Cliente" [(ngModel)]="documento" (keydown)="search($event)" [mask]="getCpfCnpjMask()">
  <span class="input-group-addon" >
      <i class="glyphicon glyphicon-search" (click)="search({key: 'Enter'})"></i>
  </span>
</div>

<div class="alert alert-warning" role="alert" *ngIf="showAlert">
  Nenhum dado foi encontrado!
</div>
    
<table class="table table-striped table-sm" *ngIf="movimentacoes">
  <thead>
    <tr>
      <th>Id Movimentação</th>
      <th>Tarifa</th>
      <th>CPF/CNPJ</th>
      <th>Valor</th>
      <th>Data</th>
      <th>Tipo</th>
      <th>Isento</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movimentacao of movimentacoes">
      <td>{{ movimentacao.id }}</td>
      <td>{{ movimentacao.idTarifa }}</td>
      <td>{{ movimentacao.cpfCnpj | mask: '000.000.000-00||00.000.000/0000-00' }}</td>
      <td>{{ movimentacao.valorMovimento | currency:"BRL":"R$"}}</td>
      <td>{{ movimentacao.dataMovimento | date: 'dd/MM/yyyy' }}</td>
      <td>{{ movimentacao.tipo }}</td>
      <td>{{ movimentacao.isento }}</td>
    </tr>
  </tbody>
</table>