<h1 class="h2">Cadastro de Clientes</h1>
<form name="customer">
    <div class="form-group col-md-2">
        <label for="">Id</label>
        <input type="text" name="customerId" class="form-control" placeholder="Id do cliente" [(ngModel)]="customer.id" readonly>
    </div>
    <div class="form-group col-md-10">
        <label for="">Nome</label>
        <input type="text" name="customerName" class="form-control" placeholder="Nome do cliente" [(ngModel)]="customer.nome" [disabled]="action == 'detail'">
    </div>
    <div class="form-group col-md-6">
        <label for="">CPF/CNPJ</label>
        <input type="text" name="customerDocument" class="form-control" placeholder="123.123.123-44" [(ngModel)]="customer.cpfCnpj" type="text" [mask]="getCpfCnpjMask()" [disabled]="action == 'detail'">
    </div>
    <div class="form-group col-md-6">
        <label for="">Segmento</label>
        <input type="text" name="customerSegment" class="form-control" placeholder="Uniclass" [(ngModel)]="customer.segmento" type="text" [disabled]="action == 'detail'"> 
    </div>
    <div class="col-md-12">
        <button class="btn btn-primary" (click)="onBack()">Voltar</button>
        <button class="btn btn-default" (click)="save()" *ngIf="action == 'insert'">Salvar</button>
    </div>
</form>