<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #F79C60; position: relative;">
  <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-target="#navBarHr">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
          <a class="navbar-brand" routerLink="/" style="padding-top: 4px;"><img src="assets/itau-logo.png" height="40px;" alt="Itaú Tarifas" /></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navBarHr">
          <ul class="nav navbar-nav">
             <li><a routerLink="/customer">Manutenção de Clientes</a></li>
             <li><a [routerLink]="['/tarifasCliente', 'mensal']">Movimentação Mensal</a></li>
             <li><a [routerLink]="['/tarifasCliente', 'cliente']">Movimentação Por Cliente</a></li>
             <li><a routerLink="/manutencaoTarifas">Manutenção de Tarifas</a></li>
          </ul>
      </div>
      <!-- /.navbar-collapse -->

  </div>

  <!-- /.container-fluid -->
</nav>
<div class="container navbar-space">
  <div class="row">
      <div class="col-md-offset-1 col-md-offset-1 col-sm-10 col-md-10 affix-content">
          <div class="container col-md-12">
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>