<h1 class="h2">Consulta Clientes</h1>
<div class="page-content">
    <table class="table table-borded table-striped table-hover table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Segmento</th>
                <th>Detalhes</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customers">
                <td>{{ customer.id }}</td>
                <td>{{ customer.nome }}</td> 
                <td>{{ customer.cpfCnpj | mask: '000.000.000-00||00.000.000/0000-00' }}</td>
                <td>{{ customer.segmento  }}</td>
                <td class="text-center" title="Detalhes">
                    <span class="glyphicon glyphicon-folder-open"  [routerLink]="['/customer', 'detail', customer.id]">&nbsp;</span>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" [routerLink]="['/customer', 'insert', 0]">Cadastrar Novo Cliente</button>
</div>